.video-header , .row-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 4px;

}
.profile_video_info_table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .profile_video_info_table td, .profile_video_info_table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .profile_video_info_table tr:nth-child(even) {
    background-color: #dddddd;
  }