{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReelsBuilder</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'media/icons/icon.svg' %}" type="image/x-icon" />

</head>

<body>
    <div class="row-container" id="topbar">
        <div class="raw-container" id="logo">
            <a href="{% url 'home' %}">
                <img height="50" width="auto" src="{% static 'media/icons/logo.png' %}" />
            </a>
        </div>
        <div class="raw-container" id="pages">
            <a class="link-text" href="{%  url 'video_generator' %}">Features</a>
            <a class="link-text" href="{% url 'pricing' %}">Pricing</a>
        </div>
        <div class="raw-container" id="login">


            <!-- login/logout/profile option in navbar  start -->


            <div class="raw-container" id="login">

                {% if request.user.is_authenticated %}
                <div class="profile_dropdown">
                    <a class="main-button" id="proflie_icon" onclick="profile_click()">Profile</a>
                    <ul class="profile_item_disabled" id="profile_dropdown_list">
                        <li>
                            <a href="{% url 'profile' %}">Profile</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>

                </div>


                {% else %}
                <a class="main-button" href="{% url 'login'  %}">Join here</a>
                {% endif %}

            </div>

 
             <!-- login/logout/profile option in navbar  end -->





        </div>
        <!-- Inside the topbar div -->
        <div class="raw-container" id="mobile-menu">
            <div class="menu-icon" onclick="toggleMenu()">☰</div>
            <div id="dropdown" class="dropdown-content">
                <a class="link-text" href="{%  url 'video_generator' %}">Features</a>
                <a class="link-text" href="{% url 'pricing' %}">Pricing</a>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <main class="column-container">
        <div id="about" class="column-container">
            <div class="main">
                <h1>Start your page with our <span>AI-Video generator</span></h1>
                <span>Make money with Affiliate Marketing or TikTok CPB, while our bot will make you millions of
                    views.</span>
            </div>
            <div class="row-container space-between">
                <div class="column-container">
                    <div class="column-container" id="start_text">
                        <b>
                            <h2>The <span id="red">1st AI-generator</span> that gives result in motivational niche</h2>
                            <br>
                            <h3>ReelsBuilder is a generative AI to create viral motivational videos without any effort
                            </h3>
                            <br><span id="gray">This video was created under 1 minute using our bot:
                                <br>You just need to enter QUOTE and the bot video will generate video with the most
                                popular voice</span>
                        </b>
                        <h3><span id="red">Get 10 free video credits now!</span><br>Enter your quote to start</h3>
                    </div>
                    <div class="row-container">
                        <input placeholder="Enter quote here"></input>
                        <a class="main-button" href="{% url  'video_generator' %}">Create video</a>
                    </div>
                </div>
                <div class="video-container">
                    <video id="myVideo" width="320" autoplay loop muted style="pointer-events: none;">
                        <source src="{% static 'media/videos/home/example.mp4' %}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
        <div id="features">
            <div class="column-container">
                <h1>How the <span id="red">magic happens?</span></h1>
                <span>With ReelsBuilder, you will save time, enhance accessibility, and increase viewer engagement like
                    never before</span>
                <div class="column-container center">
                    <div class="row-container">
                        <div class="feature">
                            <b>Affiliate program</b>
                            <span id="gray">
                                If somebody subscribes to ReelsBuilder with your affiliate link, we give you 20%
                                automatically. You can find your affiliate link in our Telegram Bot
                            </span>
                        </div>
                        <div class="feature">
                            <b>Free Credits</b>
                            <span id="gray">
                                Get 10 free video credits to generate your first videos
                            </span>
                        </div>
                    </div>
                    <div class="row-container">
                        <div class="feature">
                            <b>Clips</b>
                            <span id="gray">
                                Bot generates videos using our 10,000+ high quality clips. Don`t spend time on looking
                                for best clips
                            </span>
                        </div>
                        <div class="feature">
                            <b>Auto Captions</b>
                            <span id="gray">
                                You can choose any of our prebuilt captions for videos
                            </span>
                        </div>
                    </div>
                    <div class="row-container">
                        <div class="feature">
                            <b>Voice</b>
                            <span id="gray">
                                We use 1 of the most popular voices
                            </span>
                        </div>
                        <div class="feature">
                            <b>Multi-language</b>
                            <span id="gray">
                                Our bot support 10+ languages
                            </span>
                        </div>
                    </div>
                    <a class="main-button" href="{% url 'video_generator' %}">Create Your Video Now</a>
                </div>
            </div>
        </div>
        <div id="examples">
            <h1>Get videos like <span id="red">our users do</span></h1>
            <span>Accelerate your growth and monetization by posting top-quality shorts daily. Gain more views, fans,
                and unlock new opportunities</span>

            <div class="row-container center-examples">
                <div class="video-container">
                    <video id="myVideo" width="320" autoplay loop muted style="pointer-events: none;">
                        <source src="{% static 'media/videos/home/example2.mp4' %}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="video-container">
                    <video id="myVideo" width="320" autoplay loop muted style="pointer-events: none;">
                        <source src="{% static 'media/videos/home/example3.mp4' %}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="video-container">
                    <video id="myVideo" width="320" autoplay loop muted style="pointer-events: none;">
                        <source src="{% static 'media/videos/home/example4.mp4' %}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
    </main>

    <div class="footer">
        <a href='/?id={{id}}' class="mg"><img height="50" width="auto" src="{% static 'media/icons/logo.png' %}" /></a>
        <div class="row-container mg">
            <a class="link-text" href="{%  url 'video_generator' %}"><span>Features</span></a>
            <a class="link-text" href="{% url 'pricing' %}"><span>Pricing</span></a>
        </div>
        <span class="mg">©Copyright 2023 ReelsBuilder</span>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/google_login.js' %}"></script>


</body>

</html>