{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReelsBuilder</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    <link href="{% static 'css/login.css' %}" rel="stylesheet">

    <link rel="icon" href="{% static 'media/icons/icon.svg' %}" type="image/x-icon"/>

</head>
<body>
    <div class="row-container" id="topbar">
        <div class="raw-container" id="logo">
            <a href="/?id={{id}}">
                <img height="50" width="auto" src="{% static 'media/icons/logo.png' %}"/>
            </a>
        </div>
        <div class="raw-container" id="pages">
            <a class="link-text" href="{%  url 'video_generator' %}">Features</a>
            <a class="link-text" href="{% url 'pricing' %}">Pricing</a>
        </div>
        <div class="raw-container" id="login">


               <!-- login/logout/profile option in navbar  start -->


            <div class="raw-container" id="login">

                {% if request.user.is_authenticated %}
                <div class="profile_dropdown">
                    <a class="main-button" id="proflie_icon" onclick="profile_click()">Profile</a>
                    <ul class="profile_item_disabled" id="profile_dropdown_list">
                        <li>
                            <a href="{% url 'profile' %}">Profile</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>

                </div>


                {% else %}
                <a class="main-button" href="{% url 'signup'  %}">Join here</a>
                {% endif %}

            </div>

 
             <!-- login/logout/profile option in navbar  end -->




           
        </div>
        <!-- Inside the topbar div -->
        <div class="raw-container" id="mobile-menu">
            <div class="menu-icon" onclick="toggleMenu()">☰</div>
            <div id="dropdown" class="dropdown-content">
                <a class="link-text" href="{%  url 'video_generator' %}">Features</a>
            <a class="link-text" href="{% url 'pricing' %}">Pricing</a>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <main class="column-container">
        <div id="about" class="main column-container feature">
            <div class="header">
                <div class="row-container header2">
                    <h3>My videos</h3>
                    <a class="main-button" href="/video">Create</a>
                </div>
                <div class="limit">
                    0/5 VIDEOS
                    <a class="main-button">Upgrade</a>
                </div>
            </div>
            <div class="divider"></div>
            <table>
                <tr>
                    <th>Video ID</th>
                    <th>Download Link</th>
                    <th>Time Created</th>
                </tr>
            </table>
        </div>
    </main>

    <div class="footer" id="#footer">
        <a href='/?id={{id}}' class="mg"><img height="50" width="auto" src="{% static 'media/icons/logo.png' %}"/></a> 
        <div class="row-container mg">
            <a class="link-text" href="{%  url 'video_generator' %}"><span>Features</span></a>
            <a class="link-text" href="{% url 'pricing' %}"><span>Pricing</span></a>
        </div>
        <span class="mg">©Copyright 2023 ReelsBuilder</span>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/google_login.js' %}"></script>


</body>
</html>