{% extends 'main.html' %}
{% load static %}

  {% block body_content %}
  
    <main class="column-container">
        <p style="margin-top: 10px;">welcome  : {{user_info.user_email}}</p>
        <div id="about" class="main column-container feature">
            <div class="header">
                <div class="row-container header2">
                    <div class = "video-header">
                        <h3>My videos</h3>
                        <a class="main-button" href="{% url 'video_generator' %}">Create</a>
                    </div>
                     <div class="limit video-header">
                          {{user_info.video_count}}/5 VIDEOS
                    <a class="main-button">Upgrade</a>
                </div>
                </div>
               
            </div>
            <div class="divider"></div>
            <table class="profile_video_info_table">
                <tr>
                    <th>Video ID</th>
                    <td>Download Link</th>
                    <th>Time Created</th>
                </tr>
                {% for video_info in user_info.user_video.all %}
                <tr>
                  <td>{{video_info.video_id}}</td>
                  <td>{{video_info.download_link}}</td>
                  <td>{{video_info.time_created}}</td>
                </tr>
                {% endfor %}
               
              </table>
              
        </div>
    </main>
 {% endblock %}

                   