{% extends 'main.html' %}
{% load static %}

{% block common %}
<section class="l-section l-section-II l-section--muted-blue">
    <div class="l-row l-row--1024">
        <div class="l-banner">
            <div class="l-banner__header">
                <div class="l-banner-3__head">
                    <h1 class="m-banner-3__head">Recover Password</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="l-section l-last-section l-padding-top--40 l-section--blue-1">
    <div class="l-row l-row--800">
        <div class="l-row--680">
            <h2 class="m-head__8">Provide Account Details</h2>
            <div class="form-new form-forgot-password m10">
                <form action="/user/password" accept-charset="UTF-8" method="post" id="user-pass" class="l-form">
                    <div><input type="hidden" name="form_build_id" id="form-eW9YI9pI1uUiAxzRBVsqbeb-IC0vpkCN2Hd45Fxu-VQ"
                            value="form-eW9YI9pI1uUiAxzRBVsqbeb-IC0vpkCN2Hd45Fxu-VQ">
                        <input type="hidden" name="form_id" id="edit-user-pass" value="user_pass">

                        <section class="forgot-password-container l-card-9">
                            <p class="m-para m-para--14">To recover the password for your account, please provide us the
                                account details.</p>
                            <div class="form-item" id="edit-name-wrapper">
                                <label for="edit-name">Username or Email: <span class="form-required"
                                        title="This field is required.">*</span></label>
                                <input type="text" maxlength="64" name="name" id="edit-name" size="60" value=""
                                    class="form-text required form-text required ccl-f-placeholder ccl-f-input">
                            </div>
                            <input type="submit" name="op" id="edit-submit" value="Proceed"
                                class="form-submit button blue">
                        </section>



                    </div>
                </form>
            </div>
            <p class="m-para l-margin-bottom-0">For any other assistance, email
                <a class="m-para--600" href="mailto:help@website.com">help@website.com</a>
            </p>
        </div>
    </div>
</section>

{% endblock %}