{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReelsBuilder</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/video.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'media/icons/icon.svg' %}" type="image/x-icon"/>


</head>
<body>
    <div class="row-container" id="topbar">
        <div class="raw-container" id="logo">
            <a href="/?id={{id}}">
                <img height="50" width="auto" src="{% static 'media/icons/logo.png' %}"/>
            </a>
        </div>
        <div class="raw-container" id="pages">
            <a class="link-text" href="{%  url 'video_generator' %}">Features</a>
            <a class="link-text" href="{% url 'pricing' %}">Pricing</a>
        </div>
        <div class="raw-container" id="login">
            <a class="link-text">Profile</a>
        </div>
        <!-- Inside the topbar div -->
        <div class="raw-container" id="mobile-menu">
            <div class="menu-icon" onclick="toggleMenu()">☰</div>
            <div id="dropdown" class="dropdown-content">
                <a class="link-text" href="/?id={{id}}">Features</a>
                <a class="link-text" href="/pricing?id={{id}}">Pricing</a>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <main class="column-container">
        <div id="about" class="main row-container feature">
            <div class="header row-container">
                <div class="slide selected">
                    <h2>Quote</h2>
                </div>
                <div class="slide not-selected">
                    <h2>Settings</h2>
                </div>
            </div>
        </div>
    </main>

    <div class="footer" id="#footer">
        <a href='/?id={{id}}' class="mg"><img height="50" width="auto" src="{% static 'media/icons/logo.png' %}"/></a> 
        <div class="row-container mg">
            <a class="link-text" href="{%  url 'video_generator' %}"><span>Features</span></a>
            <a class="link-text" href="{% url 'pricing' %}"><span>Pricing</span></a>
        </div>
        <span class="mg">©Copyright 2023 ReelsBuilder</span>
    </div>

    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>